//header
header {
  position: relative;
  padding-bottom: 15px;
  .logo-wrap {
    padding-top: 20px;
    float: left;
    width:40%;
    .logo{
      width:200px;
      margin:0px auto;
    }
    .language-items{
      width:300px;
      margin: 0px auto;
      li{
        display: inline-block;
        margin-right:16px;
        a{
          display: block;
          width:25px;
          height:21px;
        }
      }
      li:last-child{
        margin-right: 0;
      }
    }
  }
  .nav-top {
    padding-top: 10px;
    float: left;
    width:30%;
    ul{
      margin-left: 6%;
      width:100%;
      li{
        margin-right: 2%;
        width:22%;
        text-align: center;
        display: inline-block;
        a{
          position: relative;
          display: block;
          padding-top: 65px;
          span{
            left: 0;
            right: 0;
            display: block;
            margin: 0px auto;
            top:0;
            position: absolute;
            display: block;
            height:67px;
            width:84px;
            margin: 0px auto;
          }
        }
      }
    }
  }
  .user-link {
    position: relative;
    float: left;
    width:30%;
    .link-padding{
      padding:30px 0 0 50px;
      .link-avator{
        position: absolute;
        left:0px;
        top:29px;
        background-size: 100%;
        img{
          border:1px solid #000;
        }
      }
      .decor-man{
        top:13px;
        left:8px;
        position: absolute;
        display: block;
        height:12px;
        width:20px;
        background: url('../img/decors.png') no-repeat -50px -50px;
      }
      .decor-woman{
        top:13px;
        left:8px;
        position: absolute;
        display: block;
        height:12px;
        width:20px;
        background: url('../img/decors.png') no-repeat -35px -98px;
      }
      p{
        font-size: 12px;
        padding: 0 0 5px 0;
        margin: 0;
      }
    }
    .status{
      top: 100px;
      position: absolute;
      max-width: 300px;
      background: #52a1b4;
      border-radius: 10px;
      padding:5px 10px;
      left: 0px;
      span{
        color: #fff;
        font-size: 14px;
        font-style: italic;
      }
    }
    .status:before{
      content: "";
      top: -20px;
      left: 22px;
      position: absolute;
      border: 10px solid transparent;
      border-bottom: 10px solid #52a1b4;
      border-left: 10px solid #52a1b4;
    }
  }

}
.message-info {
  background: #f9f9ea;
  z-index: 1;
  bottom: -25px;
  text-align: center;;
  position: absolute;
  padding: 5px 0;
  width: 230px;
  left: 50%;
  margin: -115px 0 0 -115px;
  border: 1px solid #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  table {
    margin: 0px auto;
    font-size: 12px;
    td:first-child {
      padding-right: 2px;
      text-align: right;
    }
    td:last-child {
      padding-left: 2px;
      text-align: left;
      font-style: italic;
    }
  }
}
//login
 .login{
   .logo-wrap{
     margin: 0px auto;
     width:350px;
     float: none;
     .logo{
       margin:0;
     }
   }
 }
.sign-in {
  margin: 0 0 0 40px;
  form {
    .incorrect-value {
      color: red;
      display: none;
    }
    label {
      font-size: 19px;
    }
    input[type="text"],
    input[type="password"] {
      width: 200px;
      margin: 10px 0 20px 0;
    }
  }
}
.main-page{
  .logo-wrap{
    float: left;
    width:33%;
    margin-left: 33%;
    .logo{
      width:350px;
    }
  }
  .right-column{
    width:33%;
    padding-top: 30px;
    float: left;
    .login-form{
      padding-left: 80px;
      position: relative;
      .form-group{
        margin-bottom: 10px;
        width:200px;
        label{
          line-height: 23px;
          font-size:12px;
          position: absolute;
          left:10px;
        }
        input{
          font-size:14px;
        }
      }
      a{
        font-size: 12px;
        font-style: italic;
      }
      ul{
        span{
          font-size:12px;
          font-style: italic;
          line-height: 30px;
        }
        li:first-child{
          vertical-align: top;
        }
        li{
          display: inline-block;
          a{
            display: block;
            height:30px;
            width:30px;
            background: url('../img/social-icon.png') no-repeat;
          }
          .vk{
            background-position: 0px 0px;
          }
          .fb{
            background-position: -40px 0px;
          }
          .g{
            background-position: -80px 0px;
          }
        }
      }
    }
  }
}
.intro{
  padding: 0 15%;
  font-size:20px;
}
.heart{
  width:40%;
  float: left;
  margin-left:30%;
  img{
    display: block;
    margin: 0px auto ;
  }
  a{
    font-size:25px;
  }
}
.extra-column{
  padding-top: 250px;
  width:30%;
  float: left;
}
//content
.content {
  position: relative;
  .patern {
    height: 77px;
    margin-top: 25px;
    background: url('../img/footer-patern.png') repeat-x;
  }
}
header,
.content {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//request
.request {
  margin: 0 0 0 40px;
  form {
    label {
      font-size: 18px;
    }
    input[type="email"] {
      width: 300px;
      margin: 0 0 20px 0;
    }
    input[type="submit"] {
      font-size: 12px;
      background: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
}

//profile
.left-column {
  width: 70%;
  float: left;
  .left-column-wrap{
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-profile {
    font-size:15px;
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-right: 25px;
    }
    li:last-child {
      margin-right: 0;
    }
    .active {
      font-weight: bold;
      font-style: italic;
      span {
        font-style: normal;
      }
    }
  }
  .name-title {
    .avator {
      position: relative;
      .avator-overlay {
        display: none;
        width: 140px;
        height: 140px;
        background: #f9f9ea;
        position: absolute;
        top: 8px;
        left: 8px;
        opacity: 0.9;
        span {
          display: block;
          text-align: center;
          padding: 40px 0 0 0;
          font-style: italic;
          font-size: 26px;
        }
      }
    }
    .avator:hover {
      .avator-overlay {
        display: block;
      }
    }
    .avator-man {
      display: block;
      float: left;
      img {
        display: block;
        height: 140px;
        width: 140px;
        border: 8px #fff solid;
        box-shadow: 3px 5px 10px #888888;
      }
    }
    .avator-woman {
      display: block;
      float: left;
      img {
        display: block;
        height: 140px;
        width: 140px;
        border: 8px #fff solid;
        box-shadow: 3px 5px 10px #888888;
      }
    }
  }
  .name-title {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .username-container {
    position: relative;
    float: left;
    padding-left: 50px;
    h2 {
      margin-top: 0;
      font-size: 30px;
      font-weight: 400;
      a {
        font-size: 22px;
        font-style: italic;
        text-decoration: none;
        border-bottom: 1px dashed #52A1B4;
      }
      a:hover {
        border-bottom: 1px dashed #b32e2f;
      }
    }
    .status {
      max-width: 350px;
      background: #52A1B4;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding:5px 10px;
      span {
        color: #fff;
        font-size: 14px;
        font-style: italic;
      }
    }
    .status:before {
      content: "";
      top: 40px;
      left: 80px;
      position: absolute;
      border: 12px solid transparent;
      border-bottom: 12px solid #52a1b4;
      border-left: 12px solid #52a1b4;
    }
  }
  .nav-bottom {
    li {
      font-style: italic;
      display: inline-block;
      margin-right: 25px;
      a {
        font-style: normal;
      }
    }
  }
  .user-info {
    p:first-child {
      border-top: none;
    }
    p {
      font-style: italic;
      padding-top: 16px;
      border-top: 1px solid #ccc;
      span {
        font-style: normal;
      }
    }
  }
}

.right-column {
  padding-top: 20px;
  position: absolute;
  right: 0;
  width: 30%;
  float: left;
  left:70%;
  .right-column-wrap{
    padding-left:0px;
  }
  h2 {
    font-style: italic;
    font-size: 16px;
  }
  .news-block {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    border: 1px solid #000;
    overflow: auto;
    padding: 10px 20px;
    .news-item {
      border-bottom: 1px solid #ccc;
      h3 {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p {
        line-height:20px;
        font-size: 12px;
      }
    }
  }
}

//my-mail
.my-mail {
  width: 75% !important;
}

.nav-mail {
  > ul {
    .nav-mail-decor {
      width: 42px;
      height: 32px;
      margin-left: 5px;
    }
    li {
      position: relative;
      display: inline-block;
      margin-right: 30px;
    }
    li:last-child {
      margin-right: 0;
    }
    .active {
      font-style: italic;
    }
  }
}
//faqs
ol{
  li{
    p:first-child{
      font-weight:bold;
    }
  }
}
//inbox-list
.my-mail{
  width:90% !important;
}
.inbox-list {
  margin-top: 10px;
  width: 100%;
  tr {
    margin-bottom: 10px;
    display: block;
    padding: 5px 10px;
    background: #f0f0e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    td {
      padding: 5px 5px 5px 0;
      text-align: left;
    }
    td:first-child{
      width:1%;
    }
    td:nth-child(2) {
      width: 15% ;
    }
    td:nth-child(3) {
      width: 20%;
      font-family: Arial, sans-serif;
      font-style: italic;
      font-size:14px;
    }
    td:nth-child(4) {
      width:7%;
      padding-right: 10px;
      text-align: right;
      color: #b32e2f;
      font-style: italic;
    }
    td:nth-child(5) {
      width:20%;
      div {
        font-size: 14px;
        padding: 5px 5px 5px 25px;
        background: #b9cbd3 url(../img/icon/ot.png) no-repeat 0 6px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
    }
    td:nth-child(6),
    td:nth-child(7),
    td:nth-child(8) {
      text-align: right;
      width:10%;
      a {
        width:80px;
        display: block;
      }
    }
    td:nth-child(6) {
      a {
        background: url("../img/icon/open.png") no-repeat 20px 2px;
      }
    }
    td:nth-child(7) {
      a {
        background: url("../img/icon/history.png") no-repeat 6px 3px;
      }
    }
    td:nth-child(8) {
      a {
        background: url("../img/icon/basket.png") no-repeat 14px 3px;
      }
    }
  }
}

//inbox-pagination
.inbox-pagination {
  li {
    display: inline-block;
    font-style: normal !important;
    font-family: Arial, sans-serif;
    margin-right: 5px !important;
    a {
      display: block;
      padding: 4px 5px 3px 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .active {
      color: #fff;
      background: #52a1b4;
      text-decoration: none;
    }
  }
}

//visitors
.visitors {
  .nav-visitors {
    font-size:15px;
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-right: 30px;
      font-style: normal;
      text-decoration: underline;
      color: #52a1b4;
      cursor: pointer;
    }
    li:hover {
      color: #b32e2f;
    }
    .active {
      font-weight: bold;
      text-decoration: none;
      color: #000;
      font-style: italic;
    }
  }
  .visitor-tab {
    .visitor-tab-item {
      margin-top: 20px;
      width: 800px;
      border: 1px solid black;
      padding: 10px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      .visitor-user {
        padding: 20px 0;
        display: inline-block;
        width: 33%;
        text-align: center;
        .visitor-user-avator img {
          margin: 0px auto;
          display: block;
          height: 150px;
          width: 150px;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          margin-bottom: 10px;
        }
        .visitor-user-name,
        .visitor-user-info,
        .visitor-user-datevisit {
          font-style: italic;
          margin: 0;
        }
      }
    }
    .visitor-tab-item {
      display: none;
    }
    .visitor-tab-item.active {
      display: block;
    }
  }
}

//psychology
.psychology {
  width: 60%;
  h1 {
    margin-bottom: 50px;
  }
  li {
    display: list-item !important;
    padding-top: 10px;
    font-weight: normal;
  }
}

//settings
.settings {
  .nav-settings {
    margin-bottom: 30px;
    font-size:15px;
    li {
      display: inline-block;
      margin-right: 30px;
      font-style: normal;
      text-decoration: underline;
      color: #52a1b4;
      cursor: pointer;
    }
    li:hover {
      color: #b32e2f;
    }
    .active {
      font-weight: bold;
      text-decoration: none;
      color: #000;
      font-style: italic;
    }
  }
  .settings-tab-item {
    display: none;
  }
  .settings-tab-item.active {
    display: block;
  }
  form {
    label {
      font-size:13px;
      font-style: italic;
    }
    textarea {
      resize: none;
      width: 530px;
      height: 180px;
    }
  }
  table {
    td {
      vertical-align: top;
      padding-bottom: 30px;
      span {
        font-size: 10px;
      }
    }
    td:last-child {
      padding-left: 20px;
    }
  }
}

//search, members, matches
.search {
  .nav-search {
    font-size:15px;
    li {
      display: inline-block;
      margin-right: 30px;
      font-style: italic;
      a {
        font-style: normal;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .search-form {
    label {
      font-style: italic;
    }
    padding: 20px 20px 10px 20px;
    margin-top: 30px;
    width: 550px;
    border: 1px solid black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    table {
      width: 100%;
      td {
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
  .member-items,
  .matches-items {
    margin-top: 20px;
    width: 800px;
    border: 1px solid black;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    .member-item,
    .matches-item {
      padding: 20px 0;
      display: inline-block;
      width: 33%;
      text-align: center;
      .member-item-avator img,
      .matches-item-avator img {
        margin: 0px auto;
        display: block;
        height: 150px;
        width: 150px;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        margin-bottom: 10px;
      }
      .member-item-name,
      .member-item-remote,
      .member-item-info,
      .matches-item-name,
      .matches-item-add,
      .matches-item-info {
        font-style: italic;
        margin: 0;
      }
    }
  }
}

//photoalbums
.photoalbums {
  margin-top: 50px;
  padding: 20px;
  ul {
    width: 100%;
    .photoalbums-item {
      margin-bottom: 20px;
      width: 40%;
      display: inline-block;
      .album-link {
        display: block;
        width: 35%;
        float: left;
        .album-img {
          width: 64px;
          height: 64px;
          border: 8px solid #fff;
          -webkit-box-shadow: 0px 1px 5px 0px #000;
          -moz-box-shadow: 0px 1px 5px 0px #000;
          box-shadow: 0px 1px 5px 0px #000;
        }
      }
      .album-add {
        font-style: italic;
      }
      .album-name {
        float: left;
        padding-top: 30px;
      }
    }
    #album-add-block {
      position: relative;
      form {
        background: #f9f9ea;
        padding: 20px 20px 0 20px;
        top: 0;
        left: 90px;
        position: absolute;
        width: 330px;
        border: 1px solid #000;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        table {
          width: 100%;
          tr {
            td {
              padding-bottom: 20px !important;
              text-align: left;
              input {
                width: 100%;
              }
              input[type="submit"] {
                width: inherit;
              }
            }
          }
        }
      }
    }
  }
}

//photoalbum
.link-back {
  margin-top: 50px;
}

.album-nav {
  margin-top: 20px;
  li {
    display: inline-block;
    margin-right: 10px;
  }
}
.add-photo{
  display: none;
  margin-top: 20px;
  padding: 20px;
  width:350px;
  border:1px solid #000;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;

  td{
    padding:10px;
  }
  td:last-child{
    padding-right: 0;
  }
}
.photo-items{
  .photo-item{
    -webkit-box-shadow: 0px 1px 5px 0px #000;
    -moz-box-shadow: 0px 1px 5px 0px #000;
    box-shadow: 0px 1px 5px 0px #000;
    position: relative;
    display: inline-block;
    margin-right: 45px;
    margin-top: 40px;
    .photo-link{
      padding:8px;
      background: #fff;
      display: block;
      background: #fff;
      img{
        display: block;
        width:98px;
        height:98px;
      }
    }
    .photo-delete{
      position: absolute;
      width:28px;
      height:28px;
      top:-17px;
      right:-17px;
      background: url('../img/close.png') no-repeat;
    }
    .photo-edit{
      position: absolute;
      width:28px;
      height:28px;
      top:25px;
      right:-17px;
      background: url('../img/album_photo_edit.png') no-repeat;
    }
  }
}

//modal
#overlay {
  z-index: 3;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.modal-close {
  position: absolute;
  width:28px;
  height:28px;
  background: url('../img/close.png') no-repeat;
  top:15px;
  right:15px;
}

#modal-status {
  width: 600px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #f9f9ea;
  border: 1px solid black;
  position: fixed;
  left: 50%;
  display: none;
  opacity: 0;
  margin: 0 -300px 0 -300px;
  z-index: 5;
  padding: 20px;
  input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
  }
  input[type="submit"] {
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
  }
}

#modal-support {
  @extend #modal-status;
  input[type="text"] {
    width: 100%;
    margin-bottom: 20px;
  }
  textarea {
    width: 100%;
    resize: none;
    height: 200px;
    margin-bottom: 10px;
  }
}

#modal-photo-delete {
  @extend #modal-status;
}

#modal-photo-edit {
  @extend #modal-status;
}

#modal-album-delete {
  @extend #modal-status;
}

