a{
  color: #52a1b4;
}
a:hover{
  color: #b22e2f;
}
.language-items{
  li:hover{
    background: url('../img/flags/flag_hover.png') no-repeat 0 0;
  }
  .flag-en{
    background:url('../img/flags/flag_en.png') no-repeat 0 0;
  }
  .flag-en-active{
     background:url('../img/flags/flag_en_active.png') no-repeat 0 0;
  }
  .flag-de{
    background:url('../img/flags/flag_de.png') no-repeat 0 0;
  }
  .flag-de-active{
    background:url('../img/flags/flag_de_active.png') no-repeat 0 0;
  }
  .flag-fr{
    background:url('../img/flags/flag_fr.png') no-repeat 0 0;
  }
  .flag-fr-active{
    background:url('../img/flags/flag_fr_active.png') no-repeat 0 0;
  }
  .flag-it{
    background:url('../img/flags/flag_it.png') no-repeat 0 0;
  }
  .flag-it-active{
    background:url('../img/flags/flag_it_active.png') no-repeat 0 0;
  }
  .flag-ru{
    background:url('../img/flags/flag_ru.png') no-repeat 0 0;
  }
  .flag-ru-active{
    background:url('../img/flags/flag_ru_active.png') no-repeat 0 0;
  }
  .flag-es{
    background:url('../img/flags/flag_es.png') no-repeat 0 0;
  }
  .flag-es-active{
    background:url('../img/flags/flag_es_active.png') no-repeat 0 0;
  }
  .flag-zh{
    background:url('../img/flags/flag_zh.png') no-repeat 0 0;
  }
  .flag-zh-active{
    background:url('../img/flags/flag_zh_active.png') no-repeat 0 0;
  }
}
.nav-top{
  a{
    background: url('../img/nav-icons.png') no-repeat;
  }
  .nav-top-active{
    font-weight:800;
    color: #1b2b32;
    font-style: italic;
    text-decoration: none;
  }
  .search{
    background-position: 0px 0px;
  }
  .search-active{
    background-position: 0px -100px;
    @extend .nav-top-active;
  }
  .profile{
    background-position: -103px 0px;
  }
  .profile-active{
    background-position: -103px -100px;
    @extend .nav-top-active;
  }
  .settings{
    background-position: -200px 0px;
  }
  .settings-active{
    background-position: -200px -100px;
    @extend .nav-top-active;
  }
  .faqs{
    background-position: -307px 0px;

  }
  .faqs-active{
    background-position: -307px -100px;
    @extend .nav-top-active;
  }
}
.feedback:hover{
  a{
    background: #52a1b4;
    color: #fff;
  }
}
.nav-mail {
  .active,.nav-mail-inbox{
    .nav-mail-decor{
      background: url("../img/decors.png") no-repeat -143px -125px;
    }
  }
  .nav-mail-sent{
    .nav-mail-decor{
      background: url("../img/decors.png") no-repeat -85px -160px;
    }
  }
}

