/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  min-width: 960px;
  font-size: 16px;
  line-height: 1.3;
  font-family: 'Georgia', serif;
  padding: 0 20px 0 20px; }

.wrapper {
  position: relative;
  min-height: 100%; }

*:focus {
  outline: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

input, textarea, select {
  font-size: 15px;
  font-family: Arial,Helvetica,sans-serif; }

.line {
  margin-bottom: 20px;
  height: 7px;
  background: url("../img/header-end-line.png") no-repeat 100% 50%, url("../img/header-end-line.png") no-repeat 0% 50%; }

.text-center {
  text-align: center; }

.content-padding {
  padding-bottom: 170px; }

h1 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: 400; }

input[type="submit"] {
  font-size: 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  border-width: 1px; }

button[title="album-add-cancel"] {
  font-size: 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  border-width: 1px; }

.pagination {
  margin: 20px 0 0 20px; }
  .pagination li {
    display: inline-block;
    font-style: italic;
    margin-right: 5px !important;
    font-size: 15px; }
    .pagination li a {
      display: block;
      padding: 4px 5px 3px 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
    .pagination li .active, .pagination li .nav-top .search-active, .nav-top .pagination li .search-active, .pagination li .nav-top .profile-active, .nav-top .pagination li .profile-active, .pagination li .nav-top .settings-active, .nav-top .pagination li .settings-active, .pagination li .nav-top .faqs-active, .nav-top .pagination li .faqs-active {
      color: #fff;
      background: #52a1b4;
      text-decoration: none; }

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 16px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid black;
  font-size: 12px; }
  footer p {
    padding: 0;
    margin: 0 0 0 50px; }

.feedback a {
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid black;
  border-bottom: none;
  background: #f9f9ea;
  top: 50%;
  right: -73px;
  z-index: 999;
  font-size: 22px;
  position: fixed;
  display: block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg); }

header {
  position: relative;
  padding-bottom: 11px; }
  header .logo-wrap {
    padding-top: 20px;
    float: left;
    width: 40%; }
    header .logo-wrap .logo {
      width: 200px;
      margin: 0px auto; }
    header .logo-wrap .language-items {
      width: 300px;
      margin: 0px auto; }
      header .logo-wrap .language-items li {
        display: inline-block;
        margin-right: 16px; }
        header .logo-wrap .language-items li a {
          display: block;
          width: 25px;
          height: 21px; }
      header .logo-wrap .language-items li:last-child {
        margin-right: 0; }
  header .nav-top {
    padding-top: 10px;
    float: left;
    width: 30%; }
    header .nav-top ul {
      margin-left: 6%;
      width: 100%; }
      header .nav-top ul li {
        margin-right: 2%;
        width: 22%;
        text-align: center;
        display: inline-block; }
        header .nav-top ul li a {
          position: relative;
          display: block;
          padding-top: 65px; }
          header .nav-top ul li a span {
            left: 0;
            right: 0;
            display: block;
            margin: 0px auto;
            top: 0;
            position: absolute;
            display: block;
            height: 67px;
            width: 84px;
            margin: 0px auto; }
  header .user-link {
    position: relative;
    float: left;
    width: 30%; }
    header .user-link .link-padding {
      padding: 30px 0 0 50px; }
      header .user-link .link-padding .link-avator {
        position: absolute;
        left: 0px;
        top: 29px;
        background-size: 100%; }
        header .user-link .link-padding .link-avator img {
          border: 1px solid #000; }
      header .user-link .link-padding .decor-man {
        top: 13px;
        left: 8px;
        position: absolute;
        display: block;
        height: 12px;
        width: 20px;
        background: url("../img/decors.png") no-repeat -50px -50px; }
      header .user-link .link-padding .decor-woman {
        top: 13px;
        left: 8px;
        position: absolute;
        display: block;
        height: 12px;
        width: 20px;
        background: url("../img/decors.png") no-repeat -35px -98px; }
      header .user-link .link-padding p {
        font-size: 12px;
        padding: 0 0 5px 0;
        margin: 0; }
    header .user-link .status {
      top: 95px;
      position: absolute;
      max-width: 300px;
      background: #52a1b4;
      border-radius: 10px;
      padding: 5px 10px;
      left: 0px; }
      header .user-link .status span {
        color: #fff;
        font-size: 14px;
        font-style: italic; }
    header .user-link .status:before {
      content: "";
      top: -20px;
      left: 22px;
      position: absolute;
      border: 10px solid transparent;
      border-bottom: 10px solid #52a1b4;
      border-left: 10px solid #52a1b4; }

.message-info {
  background: #f9f9ea;
  z-index: 1;
  bottom: -25px;
  text-align: center;
  position: absolute;
  padding: 5px 0;
  width: 230px;
  left: 50%;
  margin: -115px 0 0 -115px;
  border: 1px solid #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }
  .message-info table {
    margin: 0px auto;
    font-size: 12px; }
    .message-info table td:first-child {
      padding-right: 2px;
      text-align: right; }
    .message-info table td:last-child {
      padding-left: 2px;
      text-align: left;
      font-style: italic; }

.login {
  padding-bottom: 5px; }
  .login .logo-wrap {
    padding-top: 10px;
    margin: 0px auto;
    width: 350px;
    float: none; }
    .login .logo-wrap .logo {
      margin: 0; }

.main-page {
  padding-bottom: 25px; }

.sign-in {
  margin: 0 0 0 40px; }
  .sign-in form .incorrect-value {
    color: red;
    display: none; }
  .sign-in form label {
    font-size: 19px; }
  .sign-in form input[type="text"],
  .sign-in form input[type="password"] {
    width: 200px;
    margin: 10px 0 20px 0; }

.main-page .logo-wrap {
  float: left;
  width: 33%;
  margin-left: 33%; }
  .main-page .logo-wrap .logo {
    width: 350px; }

.main-page .right-column {
  width: 33%;
  padding-top: 30px;
  float: left; }
  .main-page .right-column .login-form {
    padding-left: 80px;
    position: relative; }
    .main-page .right-column .login-form .form-group {
      margin-bottom: 10px;
      width: 200px; }
      .main-page .right-column .login-form .form-group label {
        line-height: 23px;
        font-size: 12px;
        position: absolute;
        left: 10px; }
      .main-page .right-column .login-form .form-group input {
        font-size: 14px; }
    .main-page .right-column .login-form a {
      font-size: 12px;
      font-style: italic; }
    .main-page .right-column .login-form ul span {
      font-size: 12px;
      font-style: italic;
      line-height: 30px; }
    .main-page .right-column .login-form ul li:first-child {
      vertical-align: top; }
    .main-page .right-column .login-form ul li {
      display: inline-block; }
      .main-page .right-column .login-form ul li a {
        display: block;
        height: 30px;
        width: 30px;
        background: url("../img/social-icon.png") no-repeat; }
      .main-page .right-column .login-form ul li .vk {
        background-position: 0px 0px; }
      .main-page .right-column .login-form ul li .fb {
        background-position: -40px 0px; }
      .main-page .right-column .login-form ul li .g {
        background-position: -80px 0px; }

.intro {
  padding: 0 13%;
  font-size: 19px; }

.heart {
  width: 40%;
  float: left;
  margin-left: 30%; }
  .heart img {
    display: block;
    margin: 0px auto;
    margin-top: 5px; }
  .heart a {
    font-size: 25px; }

.extra-column {
  padding-top: 260px;
  width: 30%;
  float: left; }

.content {
  position: relative; }
  .content .patern {
    height: 77px;
    margin-top: 25px;
    background: url("../img/footer-patern.png") repeat-x; }

header:after,
.content:after {
  content: "";
  display: table;
  clear: both; }

.request {
  margin: 0 0 0 40px; }
  .request form {
    margin-top: 40px; }
    .request form label {
      font-size: 18px; }
    .request form input[type="email"] {
      width: 300px;
      margin: 0 0 30px 0; }

.left-column {
  width: 70%;
  float: left; }
  .left-column .left-column-wrap {
    padding-left: 30px;
    padding-right: 30px; }
  .left-column .nav-profile {
    font-size: 15px;
    margin-bottom: 25px; }
    .left-column .nav-profile li {
      display: inline-block;
      margin-right: 25px; }
    .left-column .nav-profile li:last-child {
      margin-right: 0; }
    .left-column .nav-profile .active, .left-column .nav-profile .nav-top .search-active, .nav-top .left-column .nav-profile .search-active, .left-column .nav-profile .nav-top .profile-active, .nav-top .left-column .nav-profile .profile-active, .left-column .nav-profile .nav-top .settings-active, .nav-top .left-column .nav-profile .settings-active, .left-column .nav-profile .nav-top .faqs-active, .nav-top .left-column .nav-profile .faqs-active {
      font-weight: bold;
      font-style: italic; }
      .left-column .nav-profile .active span, .left-column .nav-profile .nav-top .search-active span, .nav-top .left-column .nav-profile .search-active span, .left-column .nav-profile .nav-top .profile-active span, .nav-top .left-column .nav-profile .profile-active span, .left-column .nav-profile .nav-top .settings-active span, .nav-top .left-column .nav-profile .settings-active span, .left-column .nav-profile .nav-top .faqs-active span, .nav-top .left-column .nav-profile .faqs-active span {
        font-style: normal; }
  .left-column .name-title .avator {
    position: relative; }
    .left-column .name-title .avator .avator-overlay {
      display: none;
      width: 140px;
      height: 140px;
      background: #f9f9ea;
      position: absolute;
      top: 8px;
      left: 8px;
      opacity: 0.9; }
      .left-column .name-title .avator .avator-overlay span {
        display: block;
        text-align: center;
        padding: 40px 0 0 0;
        font-style: italic;
        font-size: 26px; }
  .left-column .name-title .avator:hover .avator-overlay {
    display: block; }
  .left-column .name-title .avator-man {
    display: block;
    float: left; }
    .left-column .name-title .avator-man img {
      display: block;
      height: 140px;
      width: 140px;
      border: 8px #fff solid;
      box-shadow: 3px 5px 10px #888888; }
  .left-column .name-title .avator-woman {
    display: block;
    float: left; }
    .left-column .name-title .avator-woman img {
      display: block;
      height: 140px;
      width: 140px;
      border: 8px #fff solid;
      box-shadow: 3px 5px 10px #888888; }
  .left-column .name-title:after {
    content: "";
    display: table;
    clear: both; }
  .left-column .username-container {
    position: relative;
    float: left;
    padding-left: 50px; }
    .left-column .username-container h2 {
      margin-top: 0;
      font-size: 30px;
      font-weight: 400; }
      .left-column .username-container h2 a {
        font-size: 22px;
        font-style: italic;
        text-decoration: none;
        border-bottom: 1px dashed #52A1B4; }
      .left-column .username-container h2 a:hover {
        border-bottom: 1px dashed #b32e2f; }
    .left-column .username-container .status {
      max-width: 350px;
      background: #52A1B4;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      padding: 5px 10px; }
      .left-column .username-container .status span {
        color: #fff;
        font-size: 14px;
        font-style: italic; }
    .left-column .username-container .status:before {
      content: "";
      top: 40px;
      left: 80px;
      position: absolute;
      border: 12px solid transparent;
      border-bottom: 12px solid #52a1b4;
      border-left: 12px solid #52a1b4; }
  .left-column .nav-bottom li {
    font-style: italic;
    display: inline-block;
    margin-right: 25px; }
    .left-column .nav-bottom li a {
      font-style: normal; }
  .left-column .user-info p:first-child {
    border-top: none; }
  .left-column .user-info p {
    font-style: italic;
    padding-top: 12px;
    border-top: 1px solid #ccc; }
    .left-column .user-info p span {
      font-style: normal; }

.right-column {
  padding-top: 20px;
  position: absolute;
  right: 0;
  width: 30%;
  float: left;
  left: 70%; }
  .right-column .right-column-wrap {
    padding-left: 0px; }
  .right-column h2 {
    font-style: italic;
    font-size: 16px; }
  .right-column .news-block {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    border: 1px solid #000;
    overflow: auto;
    padding: 10px 20px; }
    .right-column .news-block .news-item {
      border-bottom: 1px solid #ccc; }
      .right-column .news-block .news-item h3 {
        font-size: 13px;
        font-weight: bold;
        margin-bottom: 20px; }
      .right-column .news-block .news-item p {
        line-height: 20px;
        font-size: 12px; }

.my-mail {
  width: 75% !important; }

.nav-mail > ul .nav-mail-decor {
  width: 42px;
  height: 32px;
  margin-left: 5px; }

.nav-mail > ul li {
  position: relative;
  display: inline-block;
  margin-right: 30px; }

.nav-mail > ul li:last-child {
  margin-right: 0; }

.nav-mail > ul .active, .nav-mail > ul .nav-top .search-active, .nav-top .nav-mail > ul .search-active, .nav-mail > ul .nav-top .profile-active, .nav-top .nav-mail > ul .profile-active, .nav-mail > ul .nav-top .settings-active, .nav-top .nav-mail > ul .settings-active, .nav-mail > ul .nav-top .faqs-active, .nav-top .nav-mail > ul .faqs-active {
  font-style: italic; }

ol li {
  margin-bottom: 10px; }
  ol li p:first-child {
    font-weight: bold; }
  ol li p {
    margin: 0; }

.my-mail {
  width: 90% !important; }

.inbox-list {
  margin-top: 10px;
  width: 100%; }
  .inbox-list tr {
    margin-bottom: 10px;
    display: block;
    padding: 5px 10px;
    background: #f0f0e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .inbox-list tr td {
      padding: 5px 5px 5px 0;
      text-align: left; }
    .inbox-list tr td:first-child {
      width: 1%; }
    .inbox-list tr td:nth-child(2) {
      width: 15%; }
    .inbox-list tr td:nth-child(3) {
      width: 20%;
      font-family: Arial, sans-serif;
      font-style: italic;
      font-size: 14px; }
    .inbox-list tr td:nth-child(4) {
      width: 7%;
      padding-right: 10px;
      text-align: right;
      color: #b32e2f;
      font-style: italic; }
    .inbox-list tr td:nth-child(5) {
      width: 20%; }
      .inbox-list tr td:nth-child(5) div {
        font-size: 14px;
        padding: 5px 5px 5px 25px;
        background: #b9cbd3 url(../img/icon/ot.png) no-repeat 0 6px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
    .inbox-list tr td:nth-child(6),
    .inbox-list tr td:nth-child(7),
    .inbox-list tr td:nth-child(8) {
      text-align: right;
      width: 10%; }
      .inbox-list tr td:nth-child(6) a,
      .inbox-list tr td:nth-child(7) a,
      .inbox-list tr td:nth-child(8) a {
        width: 80px;
        display: block; }
    .inbox-list tr td:nth-child(6) a {
      background: url("../img/icon/open.png") no-repeat 20px 2px; }
    .inbox-list tr td:nth-child(7) a {
      background: url("../img/icon/history.png") no-repeat 6px 3px; }
    .inbox-list tr td:nth-child(8) a {
      background: url("../img/icon/basket.png") no-repeat 14px 3px; }

.inbox-pagination li {
  display: inline-block;
  font-style: normal !important;
  font-family: Arial, sans-serif;
  margin-right: 5px !important; }
  .inbox-pagination li a {
    display: block;
    padding: 4px 5px 3px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .inbox-pagination li .active, .inbox-pagination li .nav-top .search-active, .nav-top .inbox-pagination li .search-active, .inbox-pagination li .nav-top .profile-active, .nav-top .inbox-pagination li .profile-active, .inbox-pagination li .nav-top .settings-active, .nav-top .inbox-pagination li .settings-active, .inbox-pagination li .nav-top .faqs-active, .nav-top .inbox-pagination li .faqs-active {
    color: #fff;
    background: #52a1b4;
    text-decoration: none; }

.visitors .nav-visitors {
  font-size: 15px;
  margin-bottom: 20px; }
  .visitors .nav-visitors li {
    display: inline-block;
    margin-right: 30px;
    font-style: normal;
    text-decoration: underline;
    color: #52a1b4;
    cursor: pointer; }
  .visitors .nav-visitors li:hover {
    color: #b32e2f; }
  .visitors .nav-visitors .active, .visitors .nav-visitors .nav-top .search-active, .nav-top .visitors .nav-visitors .search-active, .visitors .nav-visitors .nav-top .profile-active, .nav-top .visitors .nav-visitors .profile-active, .visitors .nav-visitors .nav-top .settings-active, .nav-top .visitors .nav-visitors .settings-active, .visitors .nav-visitors .nav-top .faqs-active, .nav-top .visitors .nav-visitors .faqs-active {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-style: italic; }

.visitors .visitor-tab .visitor-tab-item {
  margin-top: 20px;
  width: 800px;
  border: 1px solid black;
  padding: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  .visitors .visitor-tab .visitor-tab-item .visitor-user {
    padding: 20px 0;
    display: inline-block;
    width: 33%;
    text-align: center; }
    .visitors .visitor-tab .visitor-tab-item .visitor-user .visitor-user-avator img {
      margin: 0px auto;
      display: block;
      height: 150px;
      width: 150px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      margin-bottom: 10px; }
    .visitors .visitor-tab .visitor-tab-item .visitor-user .visitor-user-name,
    .visitors .visitor-tab .visitor-tab-item .visitor-user .visitor-user-info,
    .visitors .visitor-tab .visitor-tab-item .visitor-user .visitor-user-datevisit {
      font-style: italic;
      margin: 0; }

.visitors .visitor-tab .visitor-tab-item {
  display: none; }

.visitors .visitor-tab .visitor-tab-item.active, .visitors .visitor-tab .nav-top .visitor-tab-item.search-active, .nav-top .visitors .visitor-tab .visitor-tab-item.search-active, .visitors .visitor-tab .nav-top .visitor-tab-item.profile-active, .nav-top .visitors .visitor-tab .visitor-tab-item.profile-active, .visitors .visitor-tab .nav-top .visitor-tab-item.settings-active, .nav-top .visitors .visitor-tab .visitor-tab-item.settings-active, .visitors .visitor-tab .nav-top .visitor-tab-item.faqs-active, .nav-top .visitors .visitor-tab .visitor-tab-item.faqs-active {
  display: block; }

.psychology {
  width: 60%; }
  .psychology h1 {
    margin-bottom: 67px; }
  .psychology p {
    margin-top: 20px;
    margin-bottom: 0; }
  .psychology li {
    display: list-item !important;
    padding-top: 6px;
    font-weight: normal; }

.settings .nav-settings {
  margin-bottom: 40px;
  font-size: 15px; }
  .settings .nav-settings li {
    display: inline-block;
    margin-right: 30px;
    font-style: normal;
    text-decoration: underline;
    color: #52a1b4;
    cursor: pointer; }
  .settings .nav-settings li:hover {
    color: #b32e2f; }
  .settings .nav-settings .active, .settings .nav-settings .nav-top .search-active, .nav-top .settings .nav-settings .search-active, .settings .nav-settings .nav-top .profile-active, .nav-top .settings .nav-settings .profile-active, .settings .nav-settings .nav-top .settings-active, .nav-top .settings .nav-settings .settings-active, .settings .nav-settings .nav-top .faqs-active, .nav-top .settings .nav-settings .faqs-active {
    font-weight: bold;
    text-decoration: none;
    color: #000;
    font-style: italic; }

.settings .settings-tab-item {
  display: none; }

.settings .settings-tab-item.active, .settings .nav-top .settings-tab-item.search-active, .nav-top .settings .settings-tab-item.search-active, .settings .nav-top .settings-tab-item.profile-active, .nav-top .settings .settings-tab-item.profile-active, .settings .nav-top .settings-tab-item.settings-active, .nav-top .settings .settings-tab-item.settings-active, .settings .nav-top .settings-tab-item.faqs-active, .nav-top .settings .settings-tab-item.faqs-active {
  display: block; }

.settings form label {
  font-size: 15px;
  font-style: italic; }

.settings form textarea {
  resize: none;
  width: 530px;
  height: 180px; }

.settings table td {
  vertical-align: top;
  padding-bottom: 22px; }
  .settings table td span {
    font-size: 10px;
    color: #666;
    display: block; }

.settings table td:first-child {
  width: 120px; }

.settings table td:last-child {
  padding-left: 20px; }

.search .nav-search {
  font-size: 15px; }
  .search .nav-search li {
    display: inline-block;
    margin-right: 30px;
    font-style: italic; }
    .search .nav-search li a {
      font-style: normal; }
  .search .nav-search li:last-child {
    margin-right: 0; }

.search .search-form {
  padding: 10px 0;
  margin-top: 25px;
  width: 550px;
  border: 1px solid black;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  .search .search-form label {
    font-style: italic;
    font-size: 15px; }
  .search .search-form table {
    width: 100%; }
    .search .search-form table td {
      text-align: center;
      padding-bottom: 7px; }

.search .member-items,
.search .matches-items {
  margin-top: 25px;
  width: 800px;
  border: 1px solid black;
  padding: 27px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  .search .member-items .member-item,
  .search .member-items .matches-item,
  .search .matches-items .member-item,
  .search .matches-items .matches-item {
    padding: 15px 0 15px 0;
    display: inline-block;
    width: 33%;
    text-align: center; }
    .search .member-items .member-item .member-item-avator img,
    .search .member-items .member-item .matches-item-avator img,
    .search .member-items .matches-item .member-item-avator img,
    .search .member-items .matches-item .matches-item-avator img,
    .search .matches-items .member-item .member-item-avator img,
    .search .matches-items .member-item .matches-item-avator img,
    .search .matches-items .matches-item .member-item-avator img,
    .search .matches-items .matches-item .matches-item-avator img {
      margin: 0px auto;
      display: block;
      height: 150px;
      width: 150px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      margin-bottom: 10px; }
    .search .member-items .member-item .member-item-name,
    .search .member-items .member-item .member-item-remove,
    .search .member-items .member-item .member-item-info,
    .search .member-items .member-item .matches-item-name,
    .search .member-items .member-item .matches-item-add,
    .search .member-items .member-item .matches-item-info,
    .search .member-items .matches-item .member-item-name,
    .search .member-items .matches-item .member-item-remove,
    .search .member-items .matches-item .member-item-info,
    .search .member-items .matches-item .matches-item-name,
    .search .member-items .matches-item .matches-item-add,
    .search .member-items .matches-item .matches-item-info,
    .search .matches-items .member-item .member-item-name,
    .search .matches-items .member-item .member-item-remove,
    .search .matches-items .member-item .member-item-info,
    .search .matches-items .member-item .matches-item-name,
    .search .matches-items .member-item .matches-item-add,
    .search .matches-items .member-item .matches-item-info,
    .search .matches-items .matches-item .member-item-name,
    .search .matches-items .matches-item .member-item-remove,
    .search .matches-items .matches-item .member-item-info,
    .search .matches-items .matches-item .matches-item-name,
    .search .matches-items .matches-item .matches-item-add,
    .search .matches-items .matches-item .matches-item-info {
      font-style: italic;
      margin: 0;
      font-size: 15px; }
    .search .member-items .member-item .member-item-remove a,
    .search .member-items .member-item .matches-item-add a,
    .search .member-items .matches-item .member-item-remove a,
    .search .member-items .matches-item .matches-item-add a,
    .search .matches-items .member-item .member-item-remove a,
    .search .matches-items .member-item .matches-item-add a,
    .search .matches-items .matches-item .member-item-remove a,
    .search .matches-items .matches-item .matches-item-add a {
      text-decoration: none;
      border-bottom: 1px dashed;
      border-color: #52a1b4; }

.photoalbums {
  margin-top: 40px;
  padding: 20px; }
  .photoalbums ul {
    width: 100%; }
    .photoalbums ul .photoalbums-item {
      margin-bottom: 20px;
      width: 40%;
      display: inline-block; }
      .photoalbums ul .photoalbums-item .album-link {
        display: block;
        width: 100px;
        float: left; }
        .photoalbums ul .photoalbums-item .album-link .album-img {
          width: 64px;
          height: 64px;
          border: 8px solid #fff;
          -webkit-box-shadow: 0px 1px 5px 0px #000;
          -moz-box-shadow: 0px 1px 5px 0px #000;
          box-shadow: 0px 1px 5px 0px #000; }
      .photoalbums ul .photoalbums-item .album-add {
        font-style: italic; }
      .photoalbums ul .photoalbums-item .album-name {
        float: left;
        padding-top: 30px; }
    .photoalbums ul #album-add-block {
      position: relative; }
      .photoalbums ul #album-add-block form {
        background: #f9f9ea;
        padding: 20px 20px 0 20px;
        top: 0;
        left: 90px;
        position: absolute;
        width: 450px;
        border: 1px solid #000;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px; }
        .photoalbums ul #album-add-block form table {
          width: 100%; }
          .photoalbums ul #album-add-block form table tr td {
            padding-bottom: 10px !important;
            text-align: left; }
            .photoalbums ul #album-add-block form table tr td input {
              width: 100%; }
            .photoalbums ul #album-add-block form table tr td input[type="submit"] {
              width: inherit; }

.link-back {
  margin-top: 10px; }

.album-nav {
  margin-top: 25px; }
  .album-nav li {
    display: inline-block;
    margin-right: 10px; }

.add-photo {
  display: none;
  margin-top: 20px;
  padding: 20px;
  width: 350px;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .add-photo td {
    padding: 10px; }
  .add-photo td:last-child {
    padding-right: 0; }

.photo-items .photo-item {
  -webkit-box-shadow: 0px 1px 5px 0px #000;
  -moz-box-shadow: 0px 1px 5px 0px #000;
  box-shadow: 0px 1px 5px 0px #000;
  position: relative;
  display: inline-block;
  margin-right: 45px;
  margin-top: 25px; }
  .photo-items .photo-item .photo-link {
    padding: 8px;
    background: #fff;
    display: block;
    background: #fff; }
    .photo-items .photo-item .photo-link img {
      display: block;
      width: 82px;
      height: 82px; }
  .photo-items .photo-item .photo-delete {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -17px;
    right: -17px;
    background: url("../img/close.png") no-repeat; }
  .photo-items .photo-item .photo-edit {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 20px;
    right: -17px;
    background: url("../img/album_photo_edit.png") no-repeat; }

#overlay {
  z-index: 3;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.modal-div h2 {
  font-weight: 400; }

.modal-close {
  position: absolute;
  width: 28px;
  height: 28px;
  background: url("../img/close.png") no-repeat;
  top: 15px;
  right: 15px; }

#modal-status, #modal-support, #modal-photo-delete, #modal-photo-edit, #modal-album-delete {
  width: 600px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #f9f9ea;
  border: 1px solid black;
  position: fixed;
  left: 50%;
  display: none;
  opacity: 0;
  margin: 0 -300px 0 -300px;
  z-index: 5;
  padding: 20px; }
  #modal-status input[type="text"], #modal-support input[type="text"], #modal-photo-delete input[type="text"], #modal-photo-edit input[type="text"], #modal-album-delete input[type="text"] {
    width: 100%;
    margin-bottom: 20px; }
  #modal-status input[type="submit"], #modal-support input[type="submit"], #modal-photo-delete input[type="submit"], #modal-photo-edit input[type="submit"], #modal-album-delete input[type="submit"] {
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff; }

#modal-support input[type="text"] {
  width: 100%;
  margin-bottom: 20px; }

#modal-support textarea {
  width: 100%;
  resize: none;
  height: 200px;
  margin-bottom: 10px; }

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); }

#cboxWrapper {
  max-width: none; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0; }

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: url("../img/colorbox-img/overlay.png") repeat 0 0;
  opacity: 0.9;
  filter: alpha(opacity=90); }

#colorbox {
  outline: 0; }

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url("../img/colorbox-img/controls.png") no-repeat -101px 0; }

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url("../img/colorbox-img/controls.png") no-repeat -130px 0; }

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url("../img/colorbox-img/controls.png") no-repeat -101px -29px; }

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url("../img/colorbox-img/controls.png") no-repeat -130px -29px; }

#cboxMiddleLeft {
  width: 21px;
  background: url("../img/colorbox-img/controls.png") left top repeat-y; }

#cboxMiddleRight {
  width: 21px;
  background: url("../img/colorbox-img/controls.png") right top repeat-y; }

#cboxTopCenter {
  height: 21px;
  background: url("../img/colorbox-img/border.png") 0 0 repeat-x; }

#cboxBottomCenter {
  height: 21px;
  background: url("../img/colorbox-img/border.png") 0 -29px repeat-x; }

#cboxContent {
  background: #fff;
  overflow: hidden; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  margin-bottom: 28px; }

#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494; }

#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494; }

#cboxLoadingOverlay {
  background: url("../img/colorbox-img/loading_background.png") no-repeat center center; }

#cboxLoadingGraphic {
  background: url("../img/colorbox-img/loading.gif") no-repeat center center; }

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none; }

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0; }

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/colorbox-img/controls.png") no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxPrevious:hover {
  background-position: -75px -25px; }

#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url("../img/colorbox-img/controls.png") no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxNext:hover {
  background-position: -50px -25px; }

#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url("../img/colorbox-img/controls.png") no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxClose:hover {
  background-position: -25px -25px; }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); }

a {
  color: #52a1b4; }

a:hover {
  color: #b22e2f; }

.language-items li:hover {
  background: url("../img/flags/flag_hover.png") no-repeat 0 0; }

.language-items .flag-en {
  background: url("../img/flags/flag_en.png") no-repeat 0 0; }

.language-items .flag-en-active {
  background: url("../img/flags/flag_en_active.png") no-repeat 0 0; }

.language-items .flag-de {
  background: url("../img/flags/flag_de.png") no-repeat 0 0; }

.language-items .flag-de-active {
  background: url("../img/flags/flag_de_active.png") no-repeat 0 0; }

.language-items .flag-fr {
  background: url("../img/flags/flag_fr.png") no-repeat 0 0; }

.language-items .flag-fr-active {
  background: url("../img/flags/flag_fr_active.png") no-repeat 0 0; }

.language-items .flag-it {
  background: url("../img/flags/flag_it.png") no-repeat 0 0; }

.language-items .flag-it-active {
  background: url("../img/flags/flag_it_active.png") no-repeat 0 0; }

.language-items .flag-ru {
  background: url("../img/flags/flag_ru.png") no-repeat 0 0; }

.language-items .flag-ru-active {
  background: url("../img/flags/flag_ru_active.png") no-repeat 0 0; }

.language-items .flag-es {
  background: url("../img/flags/flag_es.png") no-repeat 0 0; }

.language-items .flag-es-active {
  background: url("../img/flags/flag_es_active.png") no-repeat 0 0; }

.language-items .flag-zh {
  background: url("../img/flags/flag_zh.png") no-repeat 0 0; }

.language-items .flag-zh-active {
  background: url("../img/flags/flag_zh_active.png") no-repeat 0 0; }

.nav-top span {
  background: url("../img/nav-icons.png") no-repeat; }

.nav-top .active, .nav-top .search-active, .nav-top .profile-active, .nav-top .settings-active, .nav-top .faqs-active {
  font-weight: 800;
  color: #1b2b32;
  font-style: italic;
  text-decoration: none; }

.nav-top .active:hover, .nav-top .search-active:hover, .nav-top .profile-active:hover, .nav-top .settings-active:hover, .nav-top .faqs-active:hover {
  font-weight: 800;
  color: #b32e2f;
  font-style: italic;
  text-decoration: none; }

.nav-top .search {
  background-position: 0px 0px; }

.nav-top .search-active {
  background-position: 0px -100px; }

.nav-top .profile {
  background-position: -100px 0px; }

.nav-top .profile-active {
  background-position: -100px -100px; }

.nav-top .settings {
  background-position: -200px 0px; }

.nav-top .settings-active {
  background-position: -200px -100px; }

.nav-top .faqs {
  background-position: -300px 0px; }

.nav-top .faqs-active {
  background-position: -307px -100px; }

.feedback:hover a {
  background: #52a1b4;
  color: #fff; }

.nav-mail .nav-mail-inbox .nav-mail-decor {
  background: url("../img/decors.png") no-repeat -143px -125px; }

.nav-mail .nav-mail-sent .nav-mail-decor {
  background: url("../img/decors.png") no-repeat -85px -160px; }

.nav-mail .nav-mail-system .nav-mail-decor {
  margin: 0px auto;
  background: url("../img/sys_msg.png") no-repeat 0px 0px; }

.photo-gallery {
  padding-top: 40px;
  margin-right: 0;
  position: relative; }

.photo-gallery:before {
  content: "";
  top: 10px;
  left: 25px;
  width: 40px;
  position: absolute;
  height: 24px;
  background: url(../img/decors.png) no-repeat -80px -100px; }

.photo-gallery-active {
  padding-top: 40px;
  margin-right: 0;
  position: relative; }

.underline {
  text-decoration: underline; }

.photo-gallery-active:before {
  content: "";
  top: 17px;
  left: 40px;
  width: 40px;
  position: absolute;
  height: 24px;
  background: url(../img/decors.png) no-repeat -140px -100px; }

body {
  background: #f9f9ea;
  color: #1b2b32; }
